.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase
a
  color: inherit
  &:hover
    text-decoration: none

.text-blue
  color: $colorBlue!important
.text-blue-2
  color: $colorBlue-2!important
.text-green
  color: $colorGreen!important
.text-orange
  color: $colorOrange!important
.text-black
  color: $colorBlack!important
.text-red
  color: $colorRed!important
.text-yellow
  color: $colorYelow!important
.fw-100
  font-weight: 100!important
.fw-300
  font-weight: 300!important
.fw-500
  font-weight: 500!important
.fw-700
  font-weight: 700!important
.fw-bold
  font-weight: bold!important
.fw-900
  font-weight: 900!important

.h1,h1,.h2,h2,.h3,h3
  font-weight: 400
  margin: 1em *
.h1,h1
  font-size: 21px
  .test
.h2,h2
  font-size: 18px
.h3,h3
  font-size: 15px
