mixin menuItem($name,$icon,$href,$active)
  .menu__item
    a(href=$href class="menu__link "+$active)
      .menu__icon
        svg(class="icon icon--"+$icon)
          use(xlink:href="img/svg-sprite.svg#"+$icon)
      span.menu__item-name=$name
mixin tableLItem($num,$name,$market_cap,$price,$volume,$change,$graph,$style)
  .flex-wrap(style=$style)
    .table-l__td.table-l__num=$num
    .table-l__td.table-l__name=$name
    .table-l__td.table-l__market-cap=$market_cap
    .table-l__td.table-l__price=$price
    .table-l__td.table-l__volume=$volume
    .table-l__td.table-l__change=$change
    .table-l__td.table-l__graph=$graph
mixin activeStuffsItem($icon,$icon_bg,$name,$price,$price_num,$currency,$stuffs_status,$stuffs,$val,$val_total)
  .active-stuffs__item
    .active-stuffs__inner
      div(class="active-stuffs__icon "+$icon_bg)
        svg(class="icon icon--"+$icon)
          use(xlink:href="img/svg-sprite.svg#"+$icon)
      .active-stuffs__name=$name
      .flex-wrap 
        .col-auto 
          .active-stuffs__price=$price
            span.active-stuffs__price--num=$price_num
            span.active-stuffs__price--currency=$currency
        .col-auto.ml-auto 
          div(class="active-stuffs__percent "+$stuffs_status)=$stuffs
      .flex-wrap 
        .col-auto 
          .active-stuffs__val=$val
        .col-auto.ml-auto 
          .active-stuffs__val=$val_total      
mixin activeStuffsItem2($icon,$name,$price,$price_num,$currency,$stuffs_status,$stuffs,$val,$val_total,$active)
  .active-stuffs__item
    div(class="active-stuffs__inner " + $active)
      div(class="active-stuffs__icon-c")
        svg(class="icon icon--"+$icon)
          use(xlink:href="img/svg-sprite.svg#"+$icon)
      .active-stuffs__name=$name
      .flex-wrap 
        .col-auto 
          .active-stuffs__price=$price
            span.active-stuffs__price--num=$price_num
            span.active-stuffs__price--currency=$currency
        .col-auto.ml-auto 
          div(class="active-stuffs__percent "+$stuffs_status)=$stuffs
      .flex-wrap 
        .col-auto 
          .active-stuffs__val=$val
        .col-auto.ml-auto 
          .active-stuffs__val=$val_total
mixin chatListItem($img,$name,$time,$parcent,$coin_price,$coin,$status)
  .chat-list__item
    .chat-list__item-img(style="background-image:url("+$img+")")
    .flex-wrap 
      .col-auto 
        .chat-list__item-name=$name
        .chat-list__item-pro pro
      .col-auto.ml-auto
        .chat-list__item-date=$time
    .flex-wrap 
      .col-auto 
        .chat-list__item-text 
          span(class="chat-list__"+$status)=$parcent
          |
          | Trade Profit
      .col-auto.ml-auto
        .chat-list__item-coin 
          span(class="chat-list__"+$status)=$coin_price
          svg(class="icon icon--"+$coin)
            use(xlink:href="img/svg-sprite.svg#"+$coin)
mixin uslListItem($img,$name,$total_profit,$profit_up,$profit_up_time,$profit_down,$profit_down_time)
  .us-list__item
    a(href="").users-status__go-to
      svg(class="icon icon--arrow-right")
        use(xlink:href="img/svg-sprite.svg#arrow-right")
    .flex-wrap
      .us-list__img(style="background-image:url("+$img+")")
      .us-list__cont 
        .us-list__name=$name
          span.pro pro
        .us-list__total-profit 
          span=$total_profit 
          | 
          | Total Profit
    .flex-p-wrap
      .col-1-2
          .us-list__profit.us-list__profit--up 
            .us-list__profit-percent=$profit_up
            .us-list__profit-time=$profit_up_time
      .col-1-2
        .us-list__profit.us-list__profit--down
          .us-list__profit-percent=$profit_down
          .us-list__profit-time=$profit_down_time
mixin biddingTableRowRed($price,$amound,$total,$percent)
  .bidding__table-tr
    .bidding__table-td.text-red=$price
    .bidding__table-td=$amound
    .bidding__table-td=$total
    .bidding__table-preload-red(style="width:"+$percent)
mixin biddingTableRowGreen($price,$amound,$total,$percent)
  .bidding__table-tr
    .bidding__table-td.text-green=$price
    .bidding__table-td=$amound
    .bidding__table-td=$total
    .bidding__table-preload-green(style="width:"+$percent)

  
